h2 {
  margin: 0;
  font-size: 30px;
  margin-left: 10px;
}

h3 {
  margin: 0;
  font-size: 50px;
}

body {
  overflow: hidden;
}

p {
  margin: 0;
}

.home-header {
  width: 100vw;
  height: auto;
  padding: 10px;
  background-color: white;
  box-shadow: 1px 3px 5px grey;
  display: flex;
  justify-content: space-between;
}


.header-links {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.cart-icon {
  width: 30px;
  margin-right: 10px;
}

.nav-button {
  background: none;
  border: none;
  color: black;
  text-decoration: none;
}

.footer {
  width: 100%;
  height: 2%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px -3px 5px grey;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.para {
  margin-right: 20px;
}

.home-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.general-info {
  font-size: 20px;
}

.new-shop-button {
  background-color: green;
  max-width: 150px;
}

.head-move {
  margin-left: 10px;
}

.cards {
  width: 200px;
  height: 250px;
  box-shadow: 2px 2px 5px 2px grey;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .5fr;
}

.item-info {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: black solid 1px;
}

.item-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ECECEC;
  max-width: max-content;
  max-height: max-content;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.item-title {
  font-weight: bold;
  font-size: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.item-icon {
  width: 100px;
  height: auto;
}

.cart-contents {
  background-color: red;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: white;
  font-weight: bold;
  position: absolute;
  right: .6rem;
  top: .8rem;
}

.item-page {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-box {
  background-color: white;
  width: 45%;
  height: auto;
  padding: 20px;
  border-radius: 10px;
}

.top-section {
  display: flex;
  justify-content: space-evenly;
}

.page-image {
  width: 25%;
  height: auto;
}

.page-input {
  width: 45%;
  height: auto;
  padding: 10px;
  background-color: #D5D5D5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-image {
  width: 75%;
  height: auto;
}

.page-description {
  margin-top: 25px;
  border-top: solid 1px black;
  padding: 10px;
}

.short-desc {
  margin: 0;
}

.value-button {
  background-color: black;
  color: white;
  border-radius: 50px;
  width: 5%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#item-amount {
  width: 75px;
  height: 20px;
}

.input-container {
  display: flex;
  margin: 5px;
  justify-content: center;
  align-items: center;
}

.cart-button {
  background-color: lightgreen;
}

.exit {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -.5rem;
  right: -3.5rem;
}

a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }